*{
    background-color: rgba(255, 255, 255, 0.795);
    font-family: 'Noto Serif SC', serif;
}

#homepage-main-block {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100vw;
    background: -webkit-linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
}

#homepage-header {
    font-family: 'Noto Serif SC', serif;
    font-weight: bolder;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    font-style:italic;
    background: #FEAC5E;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: whitesmoke;
    margin: 0;
    padding: 2em;
    
}

.h2 {
    font-family: 'Noto Serif SC', serif;
    text-align: center;
    font-size: medium;
    padding-top: 1em;
    padding-bottom: 1em;
    background: -webkit-linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: whitesmoke;
}

.search-bar-custom-class {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding:0;
    margin-left: 24em;
    width: 50vw;
    
}

.btn-custom-class {
    width: 10vw;
    margin-left: 40vw;
    margin-right: 40vw;
    padding: 1;
    display: flex;
    justify-content: center;
    align-content: center;
    
}

#currentDay {
    display: flex;
    justify-content: center;
    font-weight: bolder;
    background: -webkit-linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: whitesmoke;
}

#form {
    margin: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#back-btn {
    display: flex;
    justify-content: center;
    margin: 0;
    width: ;
}

.btn-custom-class-2 {
    margin-left: 35em;
    margin-right: 5em;
    width: 35%;
    padding: 1;
}

.search-div {
    margin-top: 1em;;
    padding-top: 1em;
    padding-right: 1em;
    
}
.weather-div {
    margin-top: 1em;;
    padding-top: 1em;;
    border: black;
    border-style: solid;
    border-width: thin;
}

#city-name {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
}

#five-day-forecast-div {
    margin: 0;
    font-weight: bolder;
    padding-top: 0em;

}

.card {
    display: inline-block;
}

.custom-city-button {
    background-color: blue;
    background-image: none;
    color: black;
    border-color: none;
    margin-bottom: .5em;
}


.custom-city-button.hover {
    background-color: none;
    background-image: none;
    opacity: 100%;
}

.custom-bgk {
    font-family: 'Noto Serif SC', serif;
    font-weight: bolder;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    font-style:italic;
    background: #FEAC5E;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: whitesmoke;
    margin: 0;
    padding-bottom: 2em;
    
}

.custom-cards-class {
    display: inline;
}    